api-gateway/.idea/api-gateway.iml
api-gateway/.idea/misc.xml
api-gateway/.idea/modules.xml
api-gateway/.idea/vcs.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/student-tracking-system.iml
.idea/material_theme_project_new.xml
